<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultDb" connectionString="Data Source=10.0.64.248;Initial Catalog=DC_GPSJCDAGL;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />
    <add name="JCCSDb" connectionString="Data Source=10.0.64.248;Initial Catalog=DC_JCCSDS;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />

    -->
    <!--<add name="DefaultDb" connectionString="Data Source=10.0.105.246,41433;Initial Catalog=DC_GPSJCDAGL;User Id=FWMD;Password=FWMD;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="TongBuGpsDb" connectionString="Data Source=10.0.64.248;Initial Catalog=GpsDB;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />

    -->
    <!--<add name="DefaultDb" connectionString="Data Source=10.0.61.140,31433;Initial Catalog=DC_GPSJCDAGL;User Id=gps;Password=Gps@1234;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />-->
    <!--

    -->
    <!--<add name="DefaultDb" connectionString="Data Source=10.0.105.246,14333;Initial Catalog= DC_YHQXDS;User Id=sa;Password=Kfsqlserver!234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="DC_RZZXDS" connectionString="Data Source=10.0.64.248;Initial Catalog= DC_RZZXDS;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DC_YHQXDS" connectionString="Data Source=10.0.64.248;Initial Catalog= DC_YHQXDS;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DC_DLYSZHGLPT" connectionString="Data Source=10.0.64.248;Initial Catalog= DC_DLYSZHGLPT;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="QinYuanGpsDb" connectionString="Data Source=10.0.64.248;Initial Catalog=DC_GPSJCDAGL;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" /> 
    -->
    <!--gps考核数据专用数据连接-->
    <!--
  <add name="GpsAssessmentDB" connectionString="Data Source=10.0.64.248;Initial Catalog=GpsAssessmentDB;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True;Connect Timeout=120;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="MasterConnectionString" value="Data Source=10.0.64.223;Initial Catalog=DC_GPSDAGL;User Id=zbgl;Password=zbgl;Connect Timeout=120;"/>
    <add key="SlaveConnectionString" value="Data Source=10.0.64.223;Initial Catalog=DC_GPSDAGL;User Id=zbgl;Password=zbgl;Connect Timeout=120;"/>-->
    <!--系统ID-->
    <add key="WEBAPISYSID" value="C6380E44-F83F-A921-7174-5B6A8565BB4E"/>
    <!--应用ID-->
    <add key="WEBAPIAPPID" value="627CC2BA-1FF1-42ED-B227-4D40205F65FA"/>
    <!--发送人邮箱 这里使用163邮箱比如 某某@163.com-->
    <add key="EmailCode" value="kk_youzi@163.com"/>
    <!--邮箱授权码-->
    <add key="EmailNumber" value="UGJCZDQZKCOODRLS"/>
    <!--应用代码-->
    <add key="APPCODE" value="0066002"/>
    <!--Redis连接配置-->
    <add key="RedisServers" value="172.16.0.230:6379,password=gdunis1234,connectTimeout=90000"/>
    <!--MQ连接池数量，默认30-->
    <add key="MQConnectionPoolSize" value="30"/>
    <!--获取MQ连接池间隔时间，MQ连接池忙，单位为毫秒，默认10-->
    <add key="GetMQConnectionIntervalMilSecond" value="10"/>
    <!--最大获取MQ连接池超时时间，单位为秒，默认30-->
    <add key="MaxGetMQConnectionPoolWaitSecond" value="30"/>
    <!--同步等待超时时间，单位微妙，默认120-->
    <add key="SyncTimeOutSecond" value="120"/>
    <add key="Protover" value="1.0"/>
    <add key="GpsApiHost" value="http://10.0.64.214:9510"/>
    <add key="GpsApiUser" value="A000013"/>
    <add key="GpsApiPass" value="111111"/>
    <add key="TicketKey" value="480071FC-8004-43E9-A0FA-A4A203F4EAE8"/>
    <add key="UploadCarServiceCode" value="US0202015"/>
    <add key="DeleteWhite" value="US0202014"/>
    <add key="ReqNo" value="2E7074E2-CF6D-4D23-B245-D1CFC08914EA"/>
    <add key="FaceConfig" value="/Config/FaceConfig/FaceConfig.json"/>
    <!-- 快速注册组织默认挂靠平台运营商 -->
    <add key="SysOrgId" value="7bdf9695-a602-423d-8c2f-1e96008b19b8"/>
    <!-- 服务网关 -->
    <add key="ApiGateWay" value="http://10.0.64.235:7007"/>
    <!-- 外网服务网关 -->
    <add key="InternetApiGateWay" value="http://10.0.64.235:7007"/>
    <!-- ES服务器地址 -->
    <add key="ESApiHost" value="http://10.0.64.249:7904"/>
    <add key="ElasticsearchAddress" value="http://10.0.64.248:9500/"/>
    <!-- 人脸库注册地址 -->
    <!--<add key="FaceIdRegisterHost" value="http://10.0.61.140:6009" />-->
    <add key="FaceIdRegisterHost" value="http://192.168.1.40:6009"/>
    <!--安装证明过期天数-->
    <add key="QueryCodeExpired" value="60"/>
    <add key="QRCordContentFileUrl" value="http://localhost:1420"/>
    <!--广东慧安信息科技有限公司 OrgCode-->
    <add key="OperatorSeal" value="jc4372"/>
    <add key="OperatorSealName" value="广东慧安信息技术有限公司"/>
    <!--项目服务有效期限-->
    <add key="YouXiaoQiXian" value="5"/>
    <add key="LocalFileAddress" value="http://localhost:1420"/>
    <!-- 批量注册人脸信息接口开关 on:打开 off:关闭-->
    <add key="PersonalInfoBatchInitSwift" value="on"/>
    <!-- 卫星定位安装证明运输局名称 -->
    <add key="YunShuJu" value="湛江市交通运输局"/>
    <add key="AdminOrgCode" value="zh0000"/>
    <!-- 车辆GPS定位数据缓存时长，单位：秒，默认：300秒（5分钟） -->
    <add key="GPSDWCacheDuration" value="300"/>
    <!-- 添加企业支持的系统ID -->
    <add key="AddQiYeSysID" value="6AF42885-09BB-786C-E652-5D53A9D28280,426CC4B3-ACC6-4D6C-A4CD-C1E452CAB91D"/>
    <!--车辆定位在线判断，单位 分钟-->
    <add key="CheLiangZaiXianExpireTime" value="120"/>
    <!--服务商车辆提交备案自动审核，辖区市限制，多个以逗号分割-->
    <add key="FuWuShangCheLiangBeiAnAutoShenHeXiaQuShi" value=""/>
    <!--行业云网关地址-->
    <add key="HangYeYunServiceGateway" value="http://103.56.76.161:7007/api/ServiceGateway/DataService"/>
    <!--当前服务对外提供的地址，生成二维码使用-->
    <add key="VISSPApiFileUrl" value="http://10.0.64.249:9935"/>
    <add key="PrintGpsInstallCertUrl" value="http://121.33.200.106:8010/Vehicle/"/>
    <!--当前网关地址-->
    <add key="LocalApiUrl" value="http://localhost:1425"/>
    <!--GPS审核程序每次开启时间-->
    <add key="TimerInterval" value="10"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="None"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--跨域 Start-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, authorization, Token, Source-Type, access-control-allow-headers, access-control-allow-origin"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <!--跨域 end-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="HeaderInspectorBehavior"/>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="HeaderInspectorBehavior" type=" Conwin.Framework.WcfCore.Header.HeaderInspectorBehaviorExtension,Conwin.Framework.WcfCore"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="false" sendTimeout="00:00:30">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.64.113:9012/FileService.svc" binding="basicHttpBinding" bindingConfiguration="DefaultBinding" contract="Conwin.FileManageModule.IFileService" name="IFileService"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="C:\Conwin.GPSJCDAGL.txt"/>
          <parameter value="true" type="System.Boolean"/>
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>
</configuration>