<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultDb" connectionString="Data Source=10.0.64.248;Initial Catalog=DC_GPSDAGL;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True;Connect Timeout=1800;" providerName="System.Data.SqlClient" />
    <add name="YHQXDSDb" connectionString="Data Source=10.0.64.248;Initial Catalog=DC_YHQXDS;User Id=UserModule;Password=UserModule;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ExecuteBoth" value="true" />
  </appSettings>
</configuration>